address=/.${CLIENT_TEST_DOMAIN}/${RESOURCESERVER_PROXY_PUBLIC_IP}
no-resolv
port=${NGINX_EXTERNAL_DNS_PORT}
log-queries
log-facility=/var/log/dnsmasq.external.log
filter-AAAA # Disables ipv6 responses
listen-address=${RESOURCESERVER_PROXY_PUBLIC_IP}
bind-interfaces