# Mapping the Oauth2proxy client proxy
address=/${OAUTH2PROXY_NAME}.${CLIENT_TEST_DOMAIN}/${OAUTH2PROXY_PROXY_PRIVATE_IP}

# Mapping the Resource Server
address=/${RESOURCESERVER_NAME}.${CLIENT_TEST_DOMAIN}/${RESOURCESERVER_PUBLIC_IP}

# Mapping to the Keycloak proxy
address=/${KEYCLOAK_NAME}.${CLIENT_TEST_DOMAIN}/${KEYCLOAK_PROXY_PRIVATE_IP}

interface=lo
port=${NGINX_LOCAL_DNS_PORT}
filter-AAAA # Disables ipv6 responses
no-resolv
log-queries
log-facility=/var/log/dnsmasq.local.log